# coding: utf-8


class {{ camel }}Gateway(object):

    def __init__(self):
        pass

    def sum(self, value1, value2):
        return value1 + value2

    def difference(self, value1, value2):
        return value1 - value2
