# coding: utf-8


class {{ camel }}Usecase(object):

    def __init__(self, gateway):
        self.gateway = gateway

    def execute(self, {{ snake }}_struct):
        value1 = {{ snake }}_struct.value1
        value2 = {{ snake }}_struct.value2
        return self.gateway.sum(value1, value2)
